@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100%;
    scroll-behavior: smooth;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.ajuste{
    background-color: #0B3452 ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.ajuste2{
    width: 180px!important;
    margin-top: 7px;
    transition: width 1s;
}
.kyo{
    width: 260px;
    transition: width 1s;
}
.icono1{
    fill: #104C77;
    margin: auto;
}
.text-prod{
    color: #104C77;
}
.text-prod2{
    color: #595959;
}
.product{
    pointer-events: all;
    cursor: pointer;
    background-color: #ffffff;
}

.product:hover .icono1{
    fill: #ffffff!important;
}
.product:hover{
    background-color: #104C77!important;
}
.product:hover  .text-prod{
    color: #ffffff;
}
.product:hover  .text-prod2{
    color: #ffffff;
}

/* The Modal (background) */
.modal-trigger {
    opacity: 1!important;
    pointer-events: all!important;
}
.modal {
    transition: 1s;
    opacity: 0;
    pointer-events: none;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

@media (max-width: 768px) {
    .kyo {width: 210px;
    margin-top: 10px;}
}

@media (min-width: 768px) {
    html {
        font-size:15px
    }

    .min-h-auto-important {
        max-height: none!important
    }

    .min-h-lm {
        min-height: calc(100vh - 61px)
    }

    .bg-front {
        background-position: 50%;
        background-size: cover
    }
}